body{
  font-family: "Hiragino Kaku Gothic ProN","メイリオ", sans-serif;
}

h1{
  margin: 0 auto;
  width:500px;
  border-left: 5px red solid;
  background-color: #f1f1f1;
  font-size:20px;
  margin-top:30px;
  margin-bottom:20px;
  padding: 5px 0px 5px 15px;
}

form{
  margin: 0 auto;
  background-color: #fbfbfb;
  border: 3px solid #ebebeb;
  width:500px;
}

form div{
  padding: 5px 0px 15px 5px;
}

.text, .dropdown, textarea{
  border: 1px solid #ebebeb;
  background: #fff;
  color: #999;
  padding: 5px;
}

.submit{
  color: white;
  background-color: #bfbfbf;
  border:1px solid #ebebeb;
}